fieldset {
    width: fit-content;
}

input[type='submit'] {
    color: brown;
}
input, select {
    float: right;
}
label {
    font-size:medium;
    font-weight: normal;
}
legend {
    font-size: larger;
    color: brown;
}

